* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
ul {
  list-style: none;
}
#wrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: rgb(142, 142, 142);
  font-weight: 400px;
}
footer ul {
  margin: 20px;
}
footer li {
  padding: 0 10px;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
a:hover,
button:hover,
.but:hover {
  cursor: pointer;
}

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  font-size: 13px;
  margin: 16px;
  color: #8e8e8e;
  font-weight: 600;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  width: 100px;
  background: rgb(219, 219, 219);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0 16px;
}
.input {
  padding: 12px;
  margin: 3px;
  width: 258px;
  border: 1px solid rgb(219, 219, 219);
  background: #fafafa;
  border-radius: 3px;
}

.but {
  background: #4db5f9;
  border: none;
  padding: 8px 100px;
  color: #fff;
  border-radius: 8px;
  margin: 10px 40px;
  width: 260px;
  height: 34px;
  font-weight: bold;
}

.blue-text {
  color: #4db5f9;
  font-weight: bold;
  margin-left: 5px;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  footer .top {
    flex-wrap: wrap;
  }
}
.input-box {
  position: relative;
  margin: 0;
}
.input:placeholder-shown + label {
  color: #aaa;
  font-size: 14px;
  top: 15px;
}

.input:focus + label {
  left: 10px;
  top: 10px;
  font-size: 10px;
  vertical-align: bottom;
}

label {
  color: #8aa1a1;
  font-size: 10pt;
  pointer-events: none;
  position: absolute;
  left: 17px;
  top: 13px;
  transition: all 0.2s ease;
}
