main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
#main {
  display: flex;

  justify-content: center;
  align-items: center;

  font-size: 14px;
}
.img1 {
  position: relative;
}
.img2 {
  position: absolute;
  width: 250px;
  height: 540px;

  transform: translate(-55%, -4%);
}

#log1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid rgb(219, 219, 219);
  margin: 10px;
  padding: 10px 0;
  width: 350px;
}

.facebook {
  display: flex;
  align-items: center;
}

#log2 {
  border: 1px solid rgb(219, 219, 219);
  padding: 10px 0;
  width: 350px;
}

#log2 p {
  margin: 15px;
  display: flex;
  justify-content: center;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link img {
  margin: 5px;
}
