main {
  padding-top: 70px;
}
h1 {
  font-size: 48px;
  margin: 16px 0;
  padding: 10px;
}
.sub {
  font-size: 16px;
  margin: 16px 0;
  padding: 10px;
}
.main-op {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main1 {
  margin: 0;
  padding: 0;
  background: #fbf7f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img1 {
  margin: 0;
  padding: 10px;
  position: relative;
  transform: translateX(12%);
}

#main2 {
  margin: 0;
  padding: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img2 {
  margin: 0;
  padding: 10px;
  position: relative;
  transform: translateX(-10%);
}

#main2 .m-text {
  text-align: right;
  margin: 0;
}
#main2 ul {
  display: flex;
  justify-content: flex-end;
  align-items: cetner;
}
#main2 li {
  background: #f1f3f5;
  font-weight: 700;
  margin: 5px;
  font-size: 18px;
  padding: 15px 25px;
  border-radius: 8px;
}

#main3 {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e6f3e6;
}

#main3 ul {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#main3 li div {
  width: 140px;
  margin: 0 20px 0 0;
  padding: 5px 0;
}

#main3 .sub2 {
  font-size: 13px;
}
#main3 .title {
  font-size: 14px;
  font-weight: 700;
}

.img3 {
  margin: 0;
  position: relative;
  transform: translateX(18%);
}

#main3 li img {
  background: #c2e8c2;
  border-radius: 50%;
  padding: 9px;
}

.abab {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

#main4 {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main4 .m-text {
  text-align: right;
  margin: 16px 0;
}

#main4 a {
  background: #f1f3f5;
  font-weight: 700;
  margin: 16px 0;
  font-size: 18px;
  padding: 15px 25px;
  border-radius: 8px;
}
#main4 .a {
  margin: 32px 0;
}

.img4 {
  margin: 0;
  position: relative;
  transform: translateX(-5%);
}

#main5 {
  padding: 0;
  margin: 0;
  background: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main5 h1 {
  text-align: center;
}

#main5 img {
  width: 220px;
  height: 220px;
  border-radius: 12px;
}

.m5-name {
  font-size: 16px;
}
.m5-price {
  font-size: 15px;
  font-weight: 700;
}
.m5-ad {
  font-size: 13px;
}
.m5-likes {
  font-size: 13px;
  color: #868e96;
}

#main5 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  padding: 0;
}
#main5 li div {
  margin: 8px 0;
}

.main-sub {
  width: 1200px;
}
#main5 p {
  text-align: center;
}

.icon {
  filter: grayscale(100%);
}

.icon2 {
  opacity: 0.7;
  margin: 5px;
}
#main6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main6 ul {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
#main6 li {
  margin: 20px;
}
.bold {
  font-weight: 700;
  text-decoration: underline;
}

#main5 .bold {
  display: flex;
  justify-content: center;
  align-items: center;
}
